<div class="login-page">
  <mat-card class="login-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Tienda Online ITM</mat-card-title>
      <mat-card-subtitle>Ingresa tus credenciales para continuar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- Formulario único: Directo a la autenticación real -->
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        
        <mat-form-field appearance="outline" class="full">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="correo_electronico" type="email" autocomplete="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password" autocomplete="current-password" />
        </mat-form-field>

        <!-- Spinner solo si estamos procesando el login -->
        <div *ngIf="isSubmitting" class="center">
          <mat-spinner diameter="30" />
        </div>

        <button *ngIf="!isSubmitting" mat-flat-button color="primary" type="submit" class="submit-btn" [disabled]="loginForm.invalid">
          Ingresar
        </button>

      </form>
    </mat-card-content>
  </mat-card>
</div>