<h2 mat-dialog-title>{{ data.mode === 'create' ? 'Nuevo Pago' : 'Editar Pago' }}</h2>
<mat-dialog-content class="dialog-body">
  <form [formGroup]="form" class="grid">

    <mat-form-field style="padding-top: 1%;" appearance="outline" class="span-2">
      <mat-label>Orden Asociada</mat-label>
      <mat-select formControlName="orden_id">
        <mat-option *ngFor="let o of ordenes()" [value]="o.id">Orden #{{ o.id | slice:0:8 }} - Total: {{ o.total | price }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input matInput type="text" inputmode="decimal" formControlName="monto" />
      <span matTextPrefix>$&nbsp;</span>
      @if (form.get('monto')?.hasError('required')) {
        <mat-error>Monto requerido</mat-error>
      }
      @if (form.get('monto')?.hasError('invalidNumber')) {
        <mat-error>Formato de número inválido</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Método de Pago</mat-label>
      <mat-select formControlName="metodo">
        <mat-option value="Efectivo">Efectivo</mat-option>
        <mat-option value="Debito">Débito</mat-option>
        <mat-option value="Credito">Crédito</mat-option>
        <mat-option value="Transferencia">Transferencia</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="Pendiente">Pendiente</mat-option>
        <mat-option value="Pagada">Pagada</mat-option>
        <mat-option value="Cancelada">Cancelada</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" type="button" (click)="save()" [disabled]="form.invalid">Guardar Pago</button>
</mat-dialog-actions>